
  body {
    font-family: Arial;
    padding: 20px;
    background-size: cover;
    background-image: url(image/k1.gif);
    display: grid;
    grid-template-columns: 30% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
        "left left left"
        "card card card"
        " "
        ""
        ""

}
 
  
  .left{   
    float: left;
    width: 75%;
    grid-area: left;
    display: block;
  }
  
  
  
  
  
  .img {
    background-color: blue;
    width: 60%;
    padding: 20px;
    height: 200px;
  }
  
 
  .card {
     background-color: white;
     padding: 19px;
     margin-top: 20px;
     width: 250%;
     grid-area: card;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  
  