* {
    margin: 0;
    padding: 0;
}


header {

    color: white;
    height: 4em;
    grid-area: header;

}


main {

    color: bisque;
    grid-area: main;
    grid-row-gap: 10px;
    margin-left: 0.3em;
    grid-template-rows: 20% 20% 20%;
    margin: 47px;
    border-style: solid;
    border-width: 4px;


}

form {
    background-color: lightgreen;


}

nav a {
    display: inline-block;
    list-style-type: none;
    color: bisque;
    margin: 10px 0px 20px 0px;
    padding: 20px;
    font-size: 17px;
    font-style: bold;
}


nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-area: "nav nav nav";
    text-align: center;
}

nav>ul>li {
    position: relative;
    align-self: center;
}

nav ul ul {
    position: absolute;
    display: none;
    background-color: rgb(200, 142, 71);
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    transform: translate(1, -3);
    pointer-events: none;
}

nav ul ul li {
    color: black;
}

nav>ul>li:hover ul {
    display: block;
    opacity: 1;
    pointer-events: auto;

}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 4em
}



header a {
    display: none;

}

nav {
    grid-area: nav;
    color: bisque;
}

section {
    flex: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    grid-column-gap: -21px;
    align-self: center;
    left: 128px;
    

}

section {
    display: flex;
    right: -126px;
}

section p {
    color: black;
    align-self: center;

}

footer {
    margin: auto;
    padding: 19px;
    grid-area: footer;
    display: block;
    text-align: center;
    position: fixed;
    top: 90%;
    left: 45.6vw;




}

footer a {
    color: bisque;

}


form {
    display: grid;
    grid-area: form;
    width: 48em;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    margin-top: 6px;
    background: bisque;
    margin-left: 11%;
}

    .portmain
    {
        display: flex;
        justify-content: center;
    }